Package: com.opticity.callbarxs
Name: CallBar XS
Depends: mobilesubstrate, preferenceloader, firmware (>=12)
Conflicts: net.limneos.callbarx, com.pulandres.audiorecorderxs, com.pulandres.callbarxs, com.repo.xarold.com.audiorecorderxs, com.pulandres.bioprotectxs, net.pulandres.nfcwriterx, com.repo.xarold.com.nfcwriterx, com.pulandres.limneosos, com.repo.xarold.com.limneosos
Architecture: iphoneos-arm
Description: Don't let incoming calls interrupt you!
Maintainer: Opticity
Author: Elias Limneos
Section: Tweaks
Version: 2.-22
